## section ignore Backend ##
heimdallauth/HELP.md
heimdallauth/target/
heimdallauth/src/main/resources/application.properties
heimdallauth/src/main/resources/textgit.txt
!heimdallauth.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


## section ignore Frontend ##
heimdallAuthFrontend/login.html
heimdallAuthFrontend/readme.md


### VS Code ###
**.vscode/
